body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 700px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 125px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    display: flex;
    flex-grow: 1;
}

.row {
    display: flex;
}

#num-0 {
    flex-grow: 1;
}

.operator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}